.login-link {
    font-family: "Urbanist", sans-serif;
    text-align: center;
    margin-top: 6px;
    font-size: 14px;
    color: #666;
}

.login-link a {
    color: #227C97;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.login-link a:hover, .login-link a:focus {
    color: #112A40;
    text-decoration: underline;
    outline: none;
}
