.sidebar-numbers {
  display: flex;
  width: 80%;
  justify-content: start; 
  align-items: flex-start; /* Align flex items to the top */
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 8px; /* Space between boxes */
  margin: 10px; /* Padding inside the sidebar */
  list-style: none; /* If using <ul>, remove default list styling */

}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccd6dd; /* Softer border color */
  padding: 8px;
  width: 80px;
  height: 60px;
  max-width: 80px; /* Minimum width of the box */
  max-height: 60px; /* Height of the box */
  border-radius: 12px; /* Border radius for boxes */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition for hover effects */
  cursor: pointer; /* Indicates the item is clickable */
}

.number {
  font-size: 1.75em; /* Size for the number */
  font-weight: bold;
  color: #333333; /* Main text color */
  margin-bottom: 0.25em; /* Space between number and description */
}

.description {
  font-size: 0.85em; /* Size for the description */
  color: #227C97; /* Secondary text color */
}

/* Hover and focus styles for interaction */
.sidebar-item:hover, .sidebar-item:focus {
  background-color: #f5f5f5; /* Background color on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  outline: none; /* Removes the default focus outline */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebar-numbers{
  justify-content: center; 

  }
  
}

@media (max-width: 600px) {
  .sidebar-item {
    width: calc(100% - 30px); /* Adjust width for mobile screens, subtracting the gap */
  }

  .number {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .description {
    font-size: 0.75em; /* Adjust font size for smaller screens */
  }
}
