/* Container for the whole component */
.term-performance-container {
  padding: 20px;
  background-color: #f9f9f9; /* Soft background for contrast */
  border-radius: 8px; /* Soften the edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 20px auto; /* Centering the container */
  max-width: 960px; /* Maximum width */
}

/* Styling for control elements */
.controls {
  display: flex;
  justify-content: space-between; /* Space out filters and buttons */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  gap: 20px; /* Consistent spacing */
  margin-bottom: 20px; /* Space before the chart */
}

/* Custom styling for select dropdowns and buttons */
select, button {
  padding: 8px 12px;
  border: 1px solid #ccc; /* Clean border */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* White background */
  cursor: pointer; /* Indicate clickable items */
  font-family: inherit; /* Consistent font */
}

button {
  background-color: #227C97; /* Themed button color */
  color: #fff; /* Text color for contrast */
  border: none; /* Remove default border */
  transition: background-color 0.3s; /* Smooth hover effect */
}

button:hover {
  background-color: #1a5d77; /* Darker on hover */
}

/* Styling for range inputs (sliders) */
input[type="range"] {
  width: 100%; /* Full width to fill space */
  cursor: pointer; /* Indicate slider */
}

/* Custom labels for clarity */
label {
  display: block; /* Ensure full width */
  margin-bottom: 10px; /* Space between controls */
}

/* Tooltip styling for the chart */
.custom-tooltip {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collapsible {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-out forwards;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Checkboxes and Labels */
.checkbox-container {
  display: flex;
  padding: 5px 0;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  cursor: pointer;
}

/* Styling for no courses available message */
.course-selection p {
  color: #666;
  padding: 10px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: stretch; /* Align inputs and buttons */
  }

  select, button {
    width: 100%; /* Full width on smaller screens */
  }
}


/* Responsive Design */
@media (max-width: 768px) {
  .course-selection {
    max-height: 200px;
    overflow-y: auto; /* Add scrollbar if many courses */
  }
}
